.tkc__seasons {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    /* background: var(--color-footer); */
}

.tkc__seasons-season {
    display: flex;
}

.tkc__seasons-season h1 {
    font-size: 64px;
    font-family: var(--font-family-heading);
    color: #000;
}

/* Customizing season component as per needs */
.tkc__seasons-season .tkc__seasons-container__season {
    margin: 0;
}

/* Customizing season component as per needs */
.tkc__seasons-season .tkc__seasons-container_season-text {
    max-width: 700px;
}

.tkc__seasons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex: 1;

    margin-top: 2rem;
}

/* Customizing season component as per needs */
.tkc__seasons-container .tkc__seasons-container__season {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing season component as per needs */
.tkc__seasons-container .tkc__seasons-container_season-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .tkc__seasons-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .tkc__seasons-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing season component as per needs */
    .tkc__seasons-season .tkc__seasons-container__season {
        flex-direction: column;
    }

    /* Customizing season component as per needs */
    .tkc__seasons-season .tkc__seasons-container_season-text {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing season component as per needs */
    .tkc__seasons-container .tkc__seasons-container__season {
        margin: 1rem 0;
        min-width: 100%;
    }
}