.tkc__characters {
    display: flex;
    flex-direction: column;

    padding: 2rem;
}

.tkc__characters-character {
    display: flex;
}

.tkc__characters-character h1 {
    font-size: 64px;
    font-family: var(--font-family-heading);
    color: #000;
}

/* Customizing character component as per needs */
.tkc__characters-character .tkc__characters-container__character {
    margin: 0;
}

/* Customizing character component as per needs */
.tkc__characters-character .tkc__characters-container_character-text {
    max-width: 700px;
}

.tkc__characters-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.tkc__characters-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.tkc__characters-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 6px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.tkc__characters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    flex: 1;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    margin-top: 2rem;
}

/* Customizing character component as per needs */
.tkc__characters-container .tkc__characters-container__character {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing character component as per needs */
.tkc__characters-container .tkc__characters-container_character-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 1500px) {
    .tkc__characters-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        flex: 1;
    
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .tkc__characters-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        flex: 1;
    
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    
        margin-top: 2rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing character component as per needs */
    .tkc__characters-character .tkc__characters-container__character {
        flex-direction: column;
    }

    /* Customizing character component as per needs */
    .tkc__characters-character .tkc__characters-container_character-text {
        margin-top: 0.5rem;
    }

    .tkc__characters-character h1 {
        font-size: 48px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing character component as per needs */
    .tkc__characters-container .tkc__characters-container__character {
        margin: 1rem 0;
        min-width: 100%;
    }
}