.tkc__season_detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tkc__season_detail-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 2rem 6rem 2rem 6rem;
}

.tkc__season_detail-info-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tkc__season_detail-image {
    flex: 1;
}

.tkc__season_detail-image img{
    width: 100%;
    height: 100%;
}

.tkc__season_detail-title {
    display: flex;
    flex: 1;
}

.tkc__season_detail-title h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 0.25rem;
    color: #000;
}

.tkc__season_detail-trait h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000;
}

.tkc__season_detail-description {
    padding: 0 6rem 2rem 6rem;
}

.tkc__season_detail-description h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000;
}

.tkc__season_detail-description h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.tkc__season_detail-episodes {
    padding: 0 6rem 2rem 6rem;
}

.tkc__season_detail-episodes h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000;
}

@media screen and (max-width: 550px) {

    .tkc__season_detail-title h2 {
        font-size: 18px;
        line-height: 26px;
    }

    .tkc__season_detail-image img {
        width: 100%;
    }

    .tkc__season_detail {
        margin: 1rem 0;
    }
}