@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --font-family-handwritten: 'Charm', sans-serif;
    --font-family-heading: 'Cinzel Decorative', sans-serif;

    --gradient-text: linear-gradient(90deg, rgba(110, 6, 6, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --gradient-bar: linear-gradient(90deg, rgba(110, 6, 6, 1) 0%, rgba(0, 0, 0, 1) 100%);
    
    --color-bg: #040C18;
    --color-footer : #8a7848;
    --color-blog: #042c54;
    --color-text: #460606;
    --color-subtext: #FF8A71;
}