.tkc__map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.tkc__map h1{
    font-family: var(--font-family-heading);
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: #fff;
}

.tkc__map img{
    padding: 1rem;
    width: 60%;
    height: 60%;
}

@media screen and (max-width: 1000px) {
    /* Customizing character component as per needs */
    .tkc__map img{
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width: 650px) {
    /* Customizing character component as per needs */
    .tkc__map img{
        width: 100%;
        height: 100%;
    }
}